<h1><%= @machine.location %> Vending Machine</h1>

<% @machine.snacks.each do |snack| %>
  <h3><%= snack.name %></h3>
  <p><%= snack.price %></p>
  <hr>
<% end %>

<p>Average Price: $<%= @machine.average_snack_price %></p>
