<h1><%= @machine.location %> Vending Machine</h1>

<h2>Snacks</h2>

<% @machine.snacks.each do |snack| %>
  <article id="snack-<%= snack.id %>">
    <h4><%= snack.name %></h4>
    <p>Price: <%= number_to_currency(snack.price) %></p>
  </article>
<% end %>
