<h1><%= @snack.name %></h1>

<p><%= @snack.name %> info</p>
<p>Price: <%= @snack.price %></p>


<p>Locations</p>

<%# something to find which machines have these snacks %>
<ul>
  <li><%=  %></li>
</ul>

<% end %>